@using PagedList.Mvc;
@using PagedList;
@model IPagedList<DoAn_TranTheAnh_2020607026.Models.Order>
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Danh sách đơn hàng</h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="#"><div class="text-tiny">Dashboard</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#"><div class="text-tiny">Order</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <div class="text-tiny">Order List</div>
                </li>
            </ul>
        </div>
        <!-- order-list -->
        <div class="wg-box">
            <div class="flex items-center justify-between gap10 flex-wrap">
                <div class="wg-filter flex-grow">
                    <form class="form-search">
                        <fieldset class="name">
                            <input type="text" placeholder="Search here..." class="" name="name" tabindex="2" value="" aria-required="true" required="">
                        </fieldset>
                        <div class="button-submit">
                            <button class="" type="submit"><i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
                <a class="tf-button style-1 w208" href="oder-detail.html"><i class="icon-file-text"></i>Export all order</a>
            </div>
            <div class="wg-table table-all-category">
                <ul class="table-title flex gap20 mb-14">
                    <li>
                        <div class="body-title">Customer Name</div>
                    </li>
                    <li>
                        <div class="body-title">Order ID</div>
                    </li>
                    <li>
                        <div class="body-title">Price</div>
                    </li>
                    <li>
                        <div class="body-title">Payment</div>
                    </li>
                    <li>
                        <div class="body-title">Status</div>
                    </li>
                    <li>
                        <div class="body-title">Time order</div>
                    </li>
                    <li>
                        <div class="body-title">Action</div>
                    </li>
                </ul>
                <ul class="flex flex-column">
                    @foreach (var item in Model)
                    {
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/assets/icon/customer.png" alt="">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">

                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">@item.CustomerName</a>
                                </div>
                                <div class="body-text">@item.OrderCode</div>
                                <div class="body-text">@String.Format("{0:0,0}", item.OrderTotalPrice)</div>
                                @if (item.TypePayment == 0)
                                {
                                    <div class="body-text">COD</div>
                                }


                                @if (item.TypePayment > 0)
                                {
                                    <div class="body-text">Chuyển khoản</div>
                                }

                                <div>
                                    <div class="block-available">@item.OrderStatus</div>
                                </div>
                                <div>
                                    <div class="block-tracking">@item.OrderDate</div>
                                </div>
                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a href="@Url.Action("DetailOrder","Admin",new {id=item.OrderID})">
                                            <i class="icon-eye"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </li>
                    }


                </ul>
            </div>
            <div class="divider"></div>
            <div class="flex items-center justify-between flex-wrap gap10">
                <div class="text-tiny">Showing 10 entries</div>
                <ul class="wg-pagination">
                    @Html.PagedListPager(Model, page => Url.Action("OrderList","Admin", new { page, PageSize = 8 }))
                </ul>
            </div>
        </div>
        <!-- /order-list -->
    </div>
    <!-- /main-content-wrap -->
</div>