@model IEnumerable<DoAn_TranTheAnh_2020607026.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
   
}
<table class="table table-striped cart-list">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Subtotal
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        <div class="thumb_cart">
                            <img src="~/assets/images/product/@item.Product.Images"  class="lazy" alt="Image">
                        </div>

                        <span class="item_cart">@item.Product.ProductName</span>
                    </td>
                    <td>
                        <strong>@item.Product.newprice(item.Product.Price,item.Product.SaleOff)</strong>
                    </td>
                    <td>
                        <div class="numbers-row">
                            <input type="text" value="@item.QuantityProductSale" id="quantity_1" class="qty2" name="quantity_1">
                            <a href="@Url.Action("UpdateCartup","Carts")"><div class="inc button_inc">+</div></a>
                            <a href="@Url.Action("UpdateCartdown","Carts")"> <div class="dec button_inc">-</div></a>
                           
                        </div>
                    </td>
                    
                    <td class="options">
                        <a href="@Url.Action("Delete_Products", "Carts", new {id = item.Product.ProductID})"><i class="ti-trash"></i></a>
                    </td>
                </tr>
                
               <tr>
                   <td colspan="4">Tổng tiền:</td>
               </tr>
            }

       

    </tbody>
</table>

