<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.ansonika.com/allaia/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Mar 2024 08:06:12 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Allaia Bootstrap eCommerce Template - ThemeForest">
    <meta name="author" content="Ansonika">
    <title>Fashion | Thời trang tuổi trẻ</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/assets/images/logo/logo.jpg" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/assets/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/assets/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/assets/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/assets/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link rel="dns-prefetch" href="~/assets/https://fonts.gstatic.com/">
    <link rel="preconnect" href="~/assets/https://fonts.gstatic.com/" crossorigin="anonymous">
    <link rel="preload" href="~/assets/https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;display=swap" as="fetch" crossorigin="anonymous">
    
    <!-- PRELOAD LARGE CONTENT -->
   
    <!-- BASE CSS -->
    <link rel="preload" href="~/assets/css/bootstrap.min.css" as="style">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="preload" href="~/assets/css/stylepage.css" as="style">
    <link rel="stylesheet" href="~/assets/css/stylepage.css">

    <!-- SPECIFIC CSS -->
    <link rel="preload" href="~/assets/css/home_1.css" as="style">
    <link rel="stylesheet" href="~/assets/css/home_1.css">
    <style>
       
    </style>
</head>

<body>

    <div id="page">

        <header class="version_1">
            <div class="layer"></div><!-- Mobile menu overlay mask -->
            <div class="main_header" style="background-color:white;">
                <div class="container" >
                    <div class="row small-gutters">
                        <div class="col-xl-3 col-lg-3 d-lg-flex align-items-center">
                            <div id="logo" style="box-sizing:border-box;">
                                <a href="@Url.Action("Index","Page")" ><img src="~/assets/images/logo/logo.jpg" alt="" style="width:95px; height:70px;"></a>
                            </div>
                        </div>
                        <nav class="col-xl-6 col-lg-7" >
                            <a class="open_close" href="~/assets/#0">
                                <div class="hamburger hamburger--spin">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                            </a>
                            <!-- Mobile menu button -->
                            <div class="main-menu">
                                <div id="header_menu">
                                    <a href="~/assets/index.html"><img src="~/assets/img/logo_black.svg" alt="" width="100" height="35"></a>
                                    <a href="~/assets/#" class="open_close" id="close_in"><i class="ti-close"></i></a>
                                </div>
                                <ul style="text-align:center;">
                                    <li class="submenu">
                                        <a href="#0" style="color:#000" class="show-submenu">Danh mục</a>
                                        <ul style="text-align:left;">

                                            @Html.Action("listcategory_menu", "Page")
                                        </ul>
                                    </li>
                                    
                                    <li class="submenu">
                                        <a href="#0" style="color:#000" class="show-submenu">Danh sách cửa hàng</a>
                                        <ul style="text-align:left;">
                                            <li><a href="#0">Hà Nội</a></li>
                                            <li><a href="#0">Đà Nẵng</a></li>
                                            <li><a href="#0">TP. Hồ Chí Minh</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        @{
                                            if (Session["Admin"] != null)
                                            {
                                                <a style="color:#000" href="@Url.Action("Dashboard","Admin")">Quản lý</a>
                                            }
                                        }

                                    </li>
                                   
                                </ul>   
                            </div>
                            <!--/main-menu -->
                        </nav>
                        <div class="col-xl-3 col-lg-2 d-lg-flex align-items-center justify-content-end text-end">
                            @if (Session["UserID"] == null)
                            {
                                <a class="phone_top" href="@Url.Action("Login","Page")" style="color:black;"><strong><img src="~/assets/icon/login.png" style="width:30px; height:30px;" />Đăng nhập</strong></a>
                            }
                            @if (Session["UserID"] != null)
                            {
                                <a class="phone_top" href="@Url.Action("Logout","Page")" style="color:black;"><strong><img src="~/assets/icon/logout.png" style="width:30px; height:30px;" />Đăng xuất</strong></a>
                            }


                        </div>
                    </div>
                    <!-- /row -->
                </div>
            </div>
            <!-- /main_header -->

            <div class="main_nav Sticky" >
                <div class="container">
                    <div class="row small-gutters">
                        <div class="col-xl-3 col-lg-3 col-md-3">

                        </div>
                      
                            <div class="col-xl-6 col-lg-7 col-md-6 d-none d-md-block">
                                <div class="custom-search-input">
                                    @using (Html.BeginForm("Search", "Page", FormMethod.Post))
                                    {
                                        <input type="text" name="SearchString" placeholder="Tìm kiếm sản phẩm">
                                        <button type="submit"><i class="header-icon_search_custom"></i></button>
                                    }
                                    </div>
                            </div>
                        
                        <div class="col-xl-3 col-lg-2 col-md-3">
                            <ul class="top_tools">
                                <li>
                                    <div class="dropdown dropdown-cart">
                                        <a href="/Cartbuy/ShowCart" class="cart_bt"><strong>@Html.Action("TotalQuantity", "Cartbuy")</strong></a>
                                    </div>
                                    <!-- /dropdown-cart-->
                                </li>

                                <li>
                                    <div class="dropdown dropdown-access">
                                        <a href="/Page/Account" class="access_link"><span>Account</span></a>
                                    </div>
                                    <!-- /dropdown-access-->
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <div class="search_mob_wp">
                    @using (Html.BeginForm("Search", "Page", FormMethod.Post))
                    {
                        <input type="text" name="SearchString" placeholder="Tìm kiếm sản phẩm">
                        <button type="submit"><i class="header-icon_search_custom"></i></button>
                    }
                </div>
                <!-- /search_mobile -->
            </div>
            <!-- /main_nav -->
        </header>
        <!-- /header -->
        @RenderBody()
        <main>
           
            <!-- /container -->
        </main>
        <!-- /main -->

        <footer class="revealed">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <h3 data-bs-target="#collapse_1">Liên kết</h3>
                        <div class="collapse dont-collapse-sm links" id="collapse_1">
                            <ul>
                                <li><a href="#">Thông tin</a></li>
                    
                                <li><a href="#">Trợ giúp</a></li>
                                
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 data-bs-target="#collapse_2">Danh mục</h3>
                        <div class="collapse dont-collapse-sm links" id="collapse_2">
                            <ul>
                                @Html.Action("listcategory_menu", "Page")
                            </ul>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 data-bs-target="#collapse_3">Liên hệ</h3>
                        <div class="collapse dont-collapse-sm contacts" id="collapse_3">
                            <ul>
                                <li><i class="ti-home"></i>Số 2-Ngõ 27 đường bắc lai xá<br>Kim Chung-Hoài Đức-Hà Nội</li>
                                <li><i class="ti-headphone-alt"></i>1900 2300</li>
                                <li><i class="ti-email"></i><a href="#0">Info@fashion.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 data-bs-target="#collapse_4">Giữ liên hệ với chúng tôi</h3>
                        <div class="collapse dont-collapse-sm" id="collapse_4">
                            <div id="newsletter">
                                <div class="form-group">
                                    <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Email của bạn">
                                    <button type="submit" id="submit-newsletter"><i class="ti-angle-double-right"></i></button>
                                </div>
                            </div>
                            <div class="follow_us">
                                <h5>Theo dõi chúng tôi</h5>
                                <ul>
                                    <li><a href="#0"><i class="bi bi-facebook"></i></a></li>
                                    <li><a href="#0"><i class="bi bi-twitter-x"></i></a></li>
                                    <li><a href="#0"><i class="bi bi-instagram"></i></a></li>
                                    <li><a href="#0"><i class="bi bi-tiktok"></i></a></li>
                                    <li><a href="#0"><i class="bi bi-whatsapp"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <hr>
                <div class="row add_bottom_25">
                    <div class="col-lg-6">
                        <ul class="footer-selector clearfix">
                            <li>
                                <div class="styled-select lang-selector">
                                    <select>
                                        <option value="VietNam" selected>VietNam</option>
                                        <option value="EngLish">EngLish</option>
                                        
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="styled-select currency-selector">
                                    <select>
                                        <option value="US Dollars" selected>VietNam</option>
                                        <option value="Euro">EngLish</option>
                                    </select>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    
                </div>
            </div>
        </footer>
        <!--/footer-->
    </div>
    <!-- page -->
   
    <div id="toTop"></div><!-- Back to top button -->
    <!-- COMMON SCRIPTS -->
    <script src="~/assets/js/common_scripts.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="~/assets/js/carousel-home.min.js"></script>

</body>

<!-- Mirrored from www.ansonika.com/allaia/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Mar 2024 08:06:36 GMT -->
</html>