<li style="box-sizing:border-box;">
    <a href="@Url.Action("ListproductCategory","Page", new {id = 4})" class="img_container">
        <img src="~/assets/images/category/somi.jpg" data-src="~/assets/im/banner_1.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <h3>Sơ mi</h3>
            <div><span class="btn_1">Shop Now</span></div>
        </div>
    </a>
</li>
<li style="box-sizing:border-box;">
    <a href="@Url.Action("ListproductCategory","Page", new {id = 1})" class="img_container">
        <img src="~/assets/images/category/t-shirt.jpg" data-src="~/assets/im/banner_1.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <h3>T-Shirt</h3>
            <div><span class="btn_1">Shop Now</span></div>
        </div>
    </a>
</li>
<li style="box-sizing:border-box;">
    <a href="@Url.Action("ListproductCategory","Page", new {id = 2})" class="img_container">
        <img src="~/assets/images/category/Polo.jpg" data-src="~/assets/im/banner_1.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <h3>Polo</h3>
            <div><span class="btn_1">Shop Now</span></div>
        </div>
    </a>
</li>
<li style="box-sizing:border-box;">
    <a href="@Url.Action("ListproductCategory","Page", new {id = 7})" class="img_container">
        <img src="~/assets/images/category/bomber.jpg" data-src="~/assets/img/banner_2.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <h3>Bomber</h3>
            <div><span class="btn_1">Shop Now</span></div>
        </div>
    </a>
</li>
<li style="box-sizing:border-box;">
    <a href="@Url.Action("ListproductCategory","Page", new {id = 3})" class="img_container">
        <img src="~/assets/images/category/jean.jpg" data-src="~/assets/img/banner_2.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <h3>Quần Jean</h3>
            <div><span class="btn_1">Shop Now</span></div>
        </div>
    </a>
</li>
<li style="box-sizing:border-box;">
    <a href="@Url.Action("ListproductCategory","Page", new {id = 5})" class="img_container">
        <img src="~/assets/images/category/hoodie.jpg" data-src="~/assets/img/banner_3.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <h3>Hoodie</h3>
            <div><span class="btn_1">Shop Now</span></div>
        </div>
    </a>
</li>

<li style="box-sizing:border-box;">
    <a href="@Url.Action("ListproductCategory","Page", new {id = 6})" class="img_container">
        <img src="~/assets/images/category/aobongda.jpg" data-src="~/assets/img/banner_3.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <h3>Áo bóng đá</h3>
            <div><span class="btn_1">Shop Now</span></div>
        </div>
    </a>
</li>
